button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 150px;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
}

.validate-btn {
  background-color: lightseagreen;
}

.cancel-btn {
  background-color: red;
}